<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Τροποποίηση ζώου</title>
  {{>links}}
  <link rel="stylesheet" href="/css/admin_index.css">

</head>

<body>
  {{>admin_login_navbar}}
  <section class="edit">
    <h1 class="h1">Τροποποίηση ζώου</h1>

    <form action="/admin_login/editAnimal/{{data.animalID}}" method="post" enctype="multipart/form-data">
      <div class="form-horizontal main-form">

        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2" for="animalName">Όνομα</label>
          <div class="col-sm-8">
            <input autofocus class="form-control" required name="animalName" value="{{data.animalName}}" />
          </div>
        </div>

        {{!-- Κατηγορια ζωου --}}
        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2" for="animalType">Κατηγορία</label>
          <div class="col-sm-8">
            <input class="form-control" required name="animalType" type="number" min="1" max="4" placeholder="1: Θηλαστικό ξηράς | 2: Πτηνό | 3: Ερπετό | 4: Θαλάσσιο" value="{{data.animalType}}" />
          </div>
        </div>
        {{!-- --}}

        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2" for="animalImg">Εικόνα</label>
          <div class="col-sm-7">
            <input class="form-control" required type="file" accept="image/*" name="animalImg" value="{{data.animalImg}}" />
          </div>
        </div>

        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2" for="animalText">Περιγραφή</label>
          <div class="col-sm-10">
            <textarea class="form-control" required cols="20" name="animalText" maxlength="32000"
              rows="7">{{data.animalText}}</textarea>
          </div>
        </div>

        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2"></label>
          <div class="col-sm-10">
            <input type="submit" value="Αλλαγή" class="btn btn-default btn-warning" />
            <a class="btn btn-outline-dark cancel" href="/admin_login/admin_animals">Ακύρωση</a>
          </div>
        </div>
      </div>
    </form>
  </section>
</body>

</html>
